In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r'total_stock_price.csv')

In [3]:
df

,index,J-Date,Date,Weekday,Open,High,Low,Close,Final,Volume,...,Name,Market,Adj Open,Adj High,Adj Low,Adj Close,Adj Final,year,month,day
0,1006101,1390-04-22,2011-07-13,Wednesday,3100,3100,3100,3100,3100,19997000,...,آ.س.پ,فرابورس,525,525,525,525,525,1390,4,22
1,1006102,1390-04-25,2011-07-16,Saturday,3255,3255,3121,3255,3252,7652278,...,آ.س.پ,فرابورس,552,552,529,552,551,1390,4,25
2,1006103,1390-04-27,2011-07-18,Monday,3289,3340,3192,3196,3264,7009102,...,آ.س.پ,فرابورس,557,566,541,542,553,1390,4,27
3,1006104,1390-04-28,2011-07-19,Tuesday,3180,3245,3150,3186,3203,2038452,...,آ.س.پ,فرابورس,539,550,534,540,543,1390,4,28
4,1006105,1390-04-29,2011-07-20,Wednesday,3140,3180,3111,3111,3147,1007426,...,آ.س.پ,فرابورس,532,539,527,527,533,1390,4,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1513119,1513119,1401-05-29,2022-08-20,Saturday,15510,15516,15509,15515,15514,3348155,...,صندوق س یاقوت آگاه-ثابت,نامعلوم,15510,15516,15509,15515,15514,1401,5,29
1513120,1513120,1401-05-30,2022-08-21,Sunday,15518,15524,15517,15519,15520,1411438,...,صندوق س یاقوت آگاه-ثابت,نامعلوم,15518,15524,15517,15519,15520,1401,5,30
1513121,1513121,1401-05-31,2022-08-22,Monday,15526,15532,15525,15525,15531,3000906,...,صندوق س یاقوت آگاه-ثابت,نامعلوم,15526,15532,15525,15525,15531,1401,5,31
1513122,1513122,1401-06-01,2022-08-23,Tuesday,15533,15540,15533,15540,15535,6952388,...,صندوق س یاقوت آگاه-ثابت,نامعلوم,15533,15540,15533,15540,15535,1401,6,1
1513123,1513123,1401-06-02,2022-08-24,Wednesday,15553,15554,15548,15549,15549,4158778,...,صندوق س یاقوت آگاه-ثابت,نامعلوم,15553,15554,15548,15549,15549,1401,6,2

In [4]:
df.columns

Index(['index', 'J-Date', 'Date', 'Weekday', 'Open', 'High', 'Low', 'Close',
       'Final', 'Volume', 'Value', 'No', 'Ticker', 'Name', 'Market',
       'Adj Open', 'Adj High', 'Adj Low', 'Adj Close', 'Adj Final', 'year',
       'month', 'day'],
      dtype='object')

In [5]:
df1=df[['Name','Ticker','Market','J-Date','year','Close','Adj Close', 'Volume', 'Value', 'No',]]
df1

,Name,Ticker,Market,J-Date,year,Close,Adj Close,Volume,Value,No
0,آ.س.پ,آ س پ,فرابورس,1390-04-22,1390,3100,525,19997000,61990700000,628
1,آ.س.پ,آ س پ,فرابورس,1390-04-25,1390,3255,552,7652278,24882185061,2469
2,آ.س.پ,آ س پ,فرابورس,1390-04-27,1390,3196,542,7009102,22880391716,2520
3,آ.س.پ,آ س پ,فرابورس,1390-04-28,1390,3186,540,2038452,6528187296,700
4,آ.س.پ,آ س پ,فرابورس,1390-04-29,1390,3111,527,1007426,3170383917,282
...,...,...,...,...,...,...,...,...,...,...
1513119,صندوق س یاقوت آگاه-ثابت,یاقوت,نامعلوم,1401-05-29,1401,15515,15515,3348155,51942979283,343
1513120,صندوق س یاقوت آگاه-ثابت,یاقوت,نامعلوم,1401-05-30,1401,15519,15519,1411438,21905433106,285
1513121,صندوق س یاقوت آگاه-ثابت,یاقوت,نامعلوم,1401-05-31,1401,15525,15525,3000906,46607156326,338
1513122,صندوق س یاقوت آگاه-ثابت,یاقوت,نامعلوم,1401-06-01,1401,15540,15540,6952388,108004670454,417
1513123,صندوق س یاقوت آگاه-ثابت,یاقوت,نامعلوم,1401-06-02,1401,15549,15549,4158778,64666213707,359

In [6]:
df1['return']=df1.groupby(['Ticker'])[['Adj Close']].pct_change()
df1.drop(df1[df1['return'] .isnull()].index, inplace = True)
df1

<ipython-input-6-fde944ac5223>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['return']=df1.groupby(['Ticker'])[['Adj Close']].pct_change()
C:\Users\masou\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,Name,Ticker,Market,J-Date,year,Close,Adj Close,Volume,Value,No,return
1,آ.س.پ,آ س پ,فرابورس,1390-04-25,1390,3255,552,7652278,24882185061,2469,0.051429
2,آ.س.پ,آ س پ,فرابورس,1390-04-27,1390,3196,542,7009102,22880391716,2520,-0.018116
3,آ.س.پ,آ س پ,فرابورس,1390-04-28,1390,3186,540,2038452,6528187296,700,-0.003690
4,آ.س.پ,آ س پ,فرابورس,1390-04-29,1390,3111,527,1007426,3170383917,282,-0.024074
5,آ.س.پ,آ س پ,فرابورس,1390-05-01,1390,3149,534,2035163,6436454757,480,0.013283
...,...,...,...,...,...,...,...,...,...,...,...
1513119,صندوق س یاقوت آگاه-ثابت,یاقوت,نامعلوم,1401-05-29,1401,15515,15515,3348155,51942979283,343,0.001355
1513120,صندوق س یاقوت آگاه-ثابت,یاقوت,نامعلوم,1401-05-30,1401,15519,15519,1411438,21905433106,285,0.000258
1513121,صندوق س یاقوت آگاه-ثابت,یاقوت,نامعلوم,1401-05-31,1401,15525,15525,3000906,46607156326,338,0.000387
1513122,صندوق س یاقوت آگاه-ثابت,یاقوت,نامعلوم,1401-06-01,1401,15540,15540,6952388,108004670454,417,0.000966
1513123,صندوق س یاقوت آگاه-ثابت,یاقوت,نامعلوم,1401-06-02,1401,15549,15549,4158778,64666213707,359,0.000579

In [9]:
df1['divide']=(abs(df1['return']) /df1['Value'])*(10**6)
df1

<ipython-input-9-d55075457fb8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['divide']=(abs(df1['return']) /df1['Value'])*(10**6)

,Name,Ticker,Market,J-Date,year,Close,Adj Close,Volume,Value,No,return,divide
1,آ.س.پ,آ س پ,فرابورس,1390-04-25,1390,3255,552,7652278,24882185061,2469,0.051429,2.066883e-06
2,آ.س.پ,آ س پ,فرابورس,1390-04-27,1390,3196,542,7009102,22880391716,2520,-0.018116,7.917671e-07
3,آ.س.پ,آ س پ,فرابورس,1390-04-28,1390,3186,540,2038452,6528187296,700,-0.003690,5.652468e-07
4,آ.س.پ,آ س پ,فرابورس,1390-04-29,1390,3111,527,1007426,3170383917,282,-0.024074,7.593425e-06
5,آ.س.پ,آ س پ,فرابورس,1390-05-01,1390,3149,534,2035163,6436454757,480,0.013283,2.063672e-06
...,...,...,...,...,...,...,...,...,...,...,...,...
1513119,صندوق س یاقوت آگاه-ثابت,یاقوت,نامعلوم,1401-05-29,1401,15515,15515,3348155,51942979283,343,0.001355,2.609329e-08
1513120,صندوق س یاقوت آگاه-ثابت,یاقوت,نامعلوم,1401-05-30,1401,15519,15519,1411438,21905433106,285,0.000258,1.176946e-08
1513121,صندوق س یاقوت آگاه-ثابت,یاقوت,نامعلوم,1401-05-31,1401,15525,15525,3000906,46607156326,338,0.000387,8.295354e-09
1513122,صندوق س یاقوت آگاه-ثابت,یاقوت,نامعلوم,1401-06-01,1401,15540,15540,6952388,108004670454,417,0.000966,8.945757e-09
1513123,صندوق س یاقوت آگاه-ثابت,یاقوت,نامعلوم,1401-06-02,1401,15549,15549,4158778,64666213707,359,0.000579,8.956000e-09

In [10]:
dg=df1.groupby(['Name', 'Ticker','Market','year'])[['divide']].mean().reset_index()
dg.rename(columns={"divide": "Amihud_Illiquidity"}, inplace = True)
dg

          Name Ticker   Market  year  Amihud_Illiquidity
0        آ.س.پ  آ س پ  فرابورس  1390        1.269513e-05
1        آ.س.پ  آ س پ  فرابورس  1391        5.584042e-05
2        آ.س.پ  آ س پ  فرابورس  1392        2.060086e-05
3        آ.س.پ  آ س پ  فرابورس  1393        2.229338e-05
4        آ.س.پ  آ س پ  فرابورس  1394        7.019761e-05
...        ...    ...      ...   ...                 ...
9867  گلوکوزان    غگل     بورس  1397        4.108936e-04
9868  گلوکوزان    غگل     بورس  1398        2.195911e-06
9869  گلوکوزان    غگل     بورس  1399        2.660464e-07
9870  گلوکوزان    غگل     بورس  1400        4.347439e-07
9871  گلوکوزان    غگل     بورس  1401        2.631764e-07

[9872 rows x 5 columns]

In [10]:
dg.to_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\Amihud_Illiquidity.xlsx',index=False)