In [1]:
import pandas as pd
import numpy as np
from pandasql import sqldf
from scipy.stats.mstats import winsorize

In [2]:
df = pd.read_csv (r'D:\User\Desktop\thesis\data\blockholders\main data\main\Cleaned_Stocks_Holders Final version.csv')

C:\Users\masou\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3146: DtypeWarning: Columns (15,16) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [3]:
df['year'] = (df[['jalaliDate']]/10000).astype(int)
df=df.rename(columns={"name": "firm"})
df['Market_cap'] =df.apply(lambda row: ((row['shrout']*row['close_price'])/(10**6)),axis=1)

In [4]:
df.drop(df[df['Percent'] < 5].index, inplace = True)

In [5]:
t = df[['firm','group_name','jalaliDate','year','Holder','Holder_id','type','Percent','Market_cap']]
d=t.sort_values(by=['firm','year','Holder']).reset_index()
d

,index,firm,group_name,jalaliDate,year,Holder,Holder_id,type,Percent,Market_cap
0,531,آ س پ,انبوه سازی، املاک و مستغلات,13901027,1390,تجهیزات پزشکی مهرگان تامین پارس,1015.0,private,6.24,818600.0
1,535,آ س پ,انبوه سازی، املاک و مستغلات,13901028,1390,تجهیزات پزشکی مهرگان تامین پارس,1015.0,private,6.24,803200.0
2,539,آ س پ,انبوه سازی، املاک و مستغلات,13901101,1390,تجهیزات پزشکی مهرگان تامین پارس,1015.0,private,6.24,783800.0
3,543,آ س پ,انبوه سازی، املاک و مستغلات,13901103,1390,تجهیزات پزشکی مهرگان تامین پارس,1015.0,private,6.24,771600.0
4,547,آ س پ,انبوه سازی، املاک و مستغلات,13901105,1390,تجهیزات پزشکی مهرگان تامین پارس,1015.0,private,6.24,769000.0
...,...,...,...,...,...,...,...,...,...,...
3755177,10050228,یاقوت,صندوق سرمایه گذاری قابل معامله,14001120,1400,ویستاسامانه آسا,51201.0,private,7.04,56612000.0
3755178,10050232,یاقوت,صندوق سرمایه گذاری قابل معامله,14001123,1400,ویستاسامانه آسا,51201.0,private,7.04,56664000.0
3755179,10050236,یاقوت,صندوق سرمایه گذاری قابل معامله,14001124,1400,ویستاسامانه آسا,51201.0,private,7.04,56708000.0
3755180,10050240,یاقوت,صندوق سرمایه گذاری قابل معامله,14001125,1400,ویستاسامانه آسا,51201.0,private,6.37,56740000.0
3755181,10050243,یاقوت,صندوق سرمایه گذاری قابل معامله,14001127,1400,ویستاسامانه آسا,51201.0,private,5.70,56788000.0

In [6]:
edited=pd.read_excel(r'D:\User\Desktop\thesis\data\blockholders\change_type1.xlsx')
mapingdict = dict(zip(edited.type,edited.new_type))
d['type'] = d.type.map(mapingdict)     
d

,index,firm,group_name,jalaliDate,year,Holder,Holder_id,type,Percent,Market_cap
0,531,آ س پ,انبوه سازی، املاک و مستغلات,13901027,1390,تجهیزات پزشکی مهرگان تامین پارس,1015.0,private corportion,6.24,818600.0
1,535,آ س پ,انبوه سازی، املاک و مستغلات,13901028,1390,تجهیزات پزشکی مهرگان تامین پارس,1015.0,private corportion,6.24,803200.0
2,539,آ س پ,انبوه سازی، املاک و مستغلات,13901101,1390,تجهیزات پزشکی مهرگان تامین پارس,1015.0,private corportion,6.24,783800.0
3,543,آ س پ,انبوه سازی، املاک و مستغلات,13901103,1390,تجهیزات پزشکی مهرگان تامین پارس,1015.0,private corportion,6.24,771600.0
4,547,آ س پ,انبوه سازی، املاک و مستغلات,13901105,1390,تجهیزات پزشکی مهرگان تامین پارس,1015.0,private corportion,6.24,769000.0
...,...,...,...,...,...,...,...,...,...,...
3755177,10050228,یاقوت,صندوق سرمایه گذاری قابل معامله,14001120,1400,ویستاسامانه آسا,51201.0,private corportion,7.04,56612000.0
3755178,10050232,یاقوت,صندوق سرمایه گذاری قابل معامله,14001123,1400,ویستاسامانه آسا,51201.0,private corportion,7.04,56664000.0
3755179,10050236,یاقوت,صندوق سرمایه گذاری قابل معامله,14001124,1400,ویستاسامانه آسا,51201.0,private corportion,7.04,56708000.0
3755180,10050240,یاقوت,صندوق سرمایه گذاری قابل معامله,14001125,1400,ویستاسامانه آسا,51201.0,private corportion,6.37,56740000.0
3755181,10050243,یاقوت,صندوق سرمایه گذاری قابل معامله,14001127,1400,ویستاسامانه آسا,51201.0,private corportion,5.70,56788000.0

In [7]:
gg = d.groupby(['firm','group_name','year'])
def cc(g):
    
    return len(g['Holder'].unique())
t = gg.apply(cc).to_frame().rename(columns = {0:"Holder_Number"})

def cc(g):

    return len(g['type'].unique())
t = t = t.merge(gg.apply(cc).to_frame().rename(columns = {0:"type_Number"}),left_index= True,    right_index=True)
t = t.reset_index()

t.to_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\firms_holder_number.xlsx',index=False)

In [8]:
d['Mean_marketcap']=d.groupby(['firm','year']).Market_cap.transform(np.mean)
d['Mean_year_holder_Percentownership']=d.groupby(['Holder', 'Holder_id','type','firm','year']).Percent.transform(np.mean)
t = d.drop_duplicates(subset=['firm','year','Holder','Holder_id','type'],keep='last').sort_values(by = ['firm','year'])
t = t.reset_index()
t['total_percent_ownership']=t.groupby(['firm','year']).Percent.transform(sum)
t['total_percent_ownership']=winsorize(t['total_percent_ownership'],limits=[0.00, 0.05])
t.rename(columns={"Percent": "End_year_Percent"}, inplace = True)
t.rename(columns={"Market_cap": "End_year_Market_cap"}, inplace = True)

In [10]:
t['End_year_Market_cap']=winsorize(t['End_year_Market_cap'],limits=[0.01, 0.01])
t['Mean_marketcap']=winsorize(t['Mean_marketcap'],limits=[0.01, 0.01])
t.to_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\TSE_firm-holder-year.xlsx',index=False)

In [11]:
dd = t.drop_duplicates(subset=['firm','year']).sort_values(by = ['firm','year'])
ddd = dd[['firm', 'group_name','year','Mean_marketcap','total_percent_ownership']]
ddd.to_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\firm_charactristic0.xlsx',index=False)

In [12]:
from pandasql import sqldf
pysqldf = lambda q: sqldf(q, globals())
df2 = pd.read_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\firms_holder_number.xlsx')
dd2 = pd.read_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\firm_charactristic0.xlsx')
q = '''
SELECT df2.Holder_Number
FROM df2,dd2
WHERE df2.firm = dd2.firm AND df2.group_name = dd2.group_name AND  df2.year = dd2.year
'''
names = (pysqldf(q))
list_Holder_Number = list(names['Holder_Number'])
dd2['Holder_Number'] = list_Holder_Number
dd2

,firm,group_name,year,Mean_marketcap,total_percent_ownership,Holder_Number
0,آ س پ,انبوه سازی، املاک و مستغلات,1390,7.287942e+05,83.69,2
1,آ س پ,انبوه سازی، املاک و مستغلات,1391,7.448067e+05,77.73,3
2,آ س پ,انبوه سازی، املاک و مستغلات,1392,8.282403e+05,68.38,2
3,آ س پ,انبوه سازی، املاک و مستغلات,1393,1.244158e+06,84.35,4
4,آ س پ,انبوه سازی، املاک و مستغلات,1394,9.978230e+05,84.36,4
...,...,...,...,...,...,...
6523,گکیش,هتل و رستوران,1400,8.491414e+06,17.82,1
6524,یارا,صندوق سرمایه گذاری قابل معامله,1400,1.000000e+06,10.00,2
6525,یاقوت,صندوق سرمایه گذاری قابل معامله,1398,5.000000e+06,14.91,2
6526,یاقوت,صندوق سرمایه گذاری قابل معامله,1399,2.406419e+07,97.47,8
6527,یاقوت,صندوق سرمایه گذاری قابل معامله,1400,5.219675e+07,65.13,4

In [13]:
from pandasql import sqldf
q = '''
SELECT df2.type_Number
FROM df2,dd2
WHERE df2.firm = dd2.firm AND df2.group_name = dd2.group_name AND  df2.year = dd2.year
'''
names = (pysqldf(q))
list_Holder_Number = list(names['type_Number'])
dd2['type_Number'] = list_Holder_Number
dd2
dd2.to_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\firm_charactristic1.xlsx',index=False)

In [14]:
from pandasql import sqldf
dc = pd.read_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\Holder\Holder_characteristic.xlsx')
dg = pd.read_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\TSE_firm-holder-year.xlsx')
pysqldf = lambda q: sqldf(q, globals())
q = '''
SELECT dg.firm,dg.group_name,dg.jalaliDate,dg.year,dg.Holder,dg.Holder_id,dg.type,dg.End_year_Percent,dg.Mean_marketcap,dg.Mean_year_holder_Percentownership,dg.total_percent_ownership,dc.Portfo_size,dc.Turnover_type
FROM dg,dc
WHERE dg.Holder = dc.Holder AND dg.Holder_id = dc.Holder_id AND  dg.type = dc.type AND dg.year = dc.year
''' 
names2 = (pysqldf(q))
names2.to_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\HHI_measure.xlsx',index=False)
names2

,firm,group_name,jalaliDate,year,Holder,Holder_id,type,End_year_Percent,Mean_marketcap,Mean_year_holder_Percentownership,total_percent_ownership,Portfo_size,Turnover_type
0,آ س پ,انبوه سازی، املاک و مستغلات,13901228,1390,تجهیزات پزشکی مهرگان تامین پارس,1015,private corportion,6.24,7.287942e+05,6.240000,83.69,1,Short-term
1,آ س پ,انبوه سازی، املاک و مستغلات,13901228,1390,ثاخت,301,private corportion,77.45,7.287942e+05,83.059940,83.69,2,Short-term
2,آ س پ,انبوه سازی، املاک و مستغلات,13911228,1391,ایرانیان اطلس,20937,private corportion,30.00,7.448067e+05,30.000000,77.73,3-5,Short-term
3,آ س پ,انبوه سازی، املاک و مستغلات,13910324,1391,تجهیزات پزشکی مهرگان تامین پارس,1015,private corportion,5.27,7.448067e+05,6.089455,77.73,3-5,Medium-term1
4,آ س پ,انبوه سازی، املاک و مستغلات,13911228,1391,ثاخت,301,private corportion,42.46,7.448067e+05,61.053222,77.73,2,Medium-term1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
19852,یاقوت,صندوق سرمایه گذاری قابل معامله,13991227,1399,ویستاسامانه آسا,51201,private corportion,13.80,2.406419e+07,16.169495,97.47,1,Short-term
19853,یاقوت,صندوق سرمایه گذاری قابل معامله,14001127,1400,سبدگردان آگاه,51983,financial institution,5.79,5.219675e+07,5.790000,65.13,1,Long-term
19854,یاقوت,صندوق سرمایه گذاری قابل معامله,14001127,1400,صندوق بازارگردانی آگاه,62288,financial institution,47.41,5.219675e+07,51.177169,65.13,2,Medium-term1
19855,یاقوت,صندوق سرمایه گذاری قابل معامله,14000830,1400,مشاورسرمایه گذاری آوای آگاه,50771,private corportion,6.23,5.219675e+07,9.588280,65.13,2,Medium-term1
19856,یاقوت,صندوق سرمایه گذاری قابل معامله,14001127,1400,ویستاسامانه آسا,51201,private corportion,5.70,5.219675e+07,13.073973,65.13,1,Medium-term1

In [15]:
df=pd.read_excel(r'D:\User\Desktop\thesis\data\blockholders\main data\firm\HHI_measure.xlsx')

In [16]:
dd=df.groupby(['firm','group_name','year','type','total_percent_ownership'])[['End_year_Percent']].sum().reset_index()
dd['compenent1']=(dd.End_year_Percent/dd.total_percent_ownership)**2
dd2=dd.groupby(['firm','year'])[['compenent1']].sum().reset_index()
dd2['Diversity_identity']= 1 - (dd2.compenent1)
dd2

       firm  year  compenent1  Diversity_identity
0     آ س پ  1390    1.000000            0.000000
1     آ س پ  1391    1.000000            0.000000
2     آ س پ  1392    1.000000            0.000000
3     آ س پ  1393    0.819147            0.180853
4     آ س پ  1394    0.819166            0.180834
...     ...   ...         ...                 ...
6523   گکیش  1400    1.000000            0.000000
6524   یارا  1400    1.000000            0.000000
6525  یاقوت  1398    1.000000            0.000000
6526  یاقوت  1399    0.554128            0.445872
6527  یاقوت  1400    0.700760            0.299240

[6528 rows x 4 columns]

In [17]:
dc=df.groupby(['firm','group_name','year','Portfo_size','total_percent_ownership'])[['End_year_Percent']].sum().reset_index()
dc['compenent2']=(dc.End_year_Percent/dc.total_percent_ownership)**2
dc2=dc.groupby(['firm','year'])[['compenent2']].sum().reset_index()
dc2['Diversity_size']= 1 - (dc2.compenent2)
dc2

       firm  year  compenent2  Diversity_size
0     آ س پ  1390    0.861997        0.138003
1     آ س پ  1391    0.504278        0.495722
2     آ س پ  1392    0.529254        0.470746
3     آ س پ  1393    0.560433        0.439567
4     آ س پ  1394    0.560984        0.439016
...     ...   ...         ...             ...
6523   گکیش  1400    1.000000        0.000000
6524   یارا  1400    0.500000        0.500000
6525  یاقوت  1398    0.500018        0.499982
6526  یاقوت  1399    0.516667        0.483333
6527  یاقوت  1400    0.709413        0.290587

[6528 rows x 4 columns]

In [18]:
dg=df.groupby(['firm','group_name','year','Turnover_type','total_percent_ownership'])[['End_year_Percent']].sum().reset_index()
dg['compenent3']=(dg.End_year_Percent/dg.total_percent_ownership)**2
dg2=dg.groupby(['firm','year'])[['compenent3']].sum().reset_index()
dg2['Diversity_horizon']= 1 - (dg2.compenent3)
dg2

       firm  year  compenent3  Diversity_horizon
0     آ س پ  1390    1.000000           0.000000
1     آ س پ  1391    0.526014           0.473986
2     آ س پ  1392    0.529254           0.470746
3     آ س پ  1393    0.501085           0.498915
4     آ س پ  1394    0.705784           0.294216
...     ...   ...         ...                ...
6523   گکیش  1400    1.000000           0.000000
6524   یارا  1400    1.000000           0.000000
6525  یاقوت  1398    1.000000           0.000000
6526  یاقوت  1399    0.565767           0.434233
6527  یاقوت  1400    0.838008           0.161992

[6528 rows x 4 columns]

In [19]:
df10 = pd.DataFrame(columns=['firm','year','Diversity_identity','Diversity_size','Diversity_horizon'])
df10['firm']=dd2.firm
df10['year']=dd2.year
df10['Diversity_identity']=dd2.Diversity_identity
df10['Diversity_size']=dc2.Diversity_size
df10['Diversity_horizon']=dg2.Diversity_horizon
df10

       firm  year  Diversity_identity  Diversity_size  Diversity_horizon
0     آ س پ  1390            0.000000        0.138003           0.000000
1     آ س پ  1391            0.000000        0.495722           0.473986
2     آ س پ  1392            0.000000        0.470746           0.470746
3     آ س پ  1393            0.180853        0.439567           0.498915
4     آ س پ  1394            0.180834        0.439016           0.294216
...     ...   ...                 ...             ...                ...
6523   گکیش  1400            0.000000        0.000000           0.000000
6524   یارا  1400            0.000000        0.500000           0.000000
6525  یاقوت  1398            0.000000        0.499982           0.000000
6526  یاقوت  1399            0.445872        0.483333           0.434233
6527  یاقوت  1400            0.299240        0.290587           0.161992

[6528 rows x 5 columns]

In [20]:
from sklearn.decomposition import PCA
pca_diversity = PCA(n_components=1)
principalComponents_diversity = pca_diversity.fit_transform(df10[['Diversity_identity','Diversity_size','Diversity_horizon']])
principalComponents_diversity
df10['Diversity_Index']=principalComponents_diversity
df10.to_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\diversity_measures.xlsx',index=False)
df10

,firm,year,Diversity_identity,Diversity_size,Diversity_horizon,Diversity_Index
0,آ س پ,1390,0.000000,0.138003,0.000000,0.292104
1,آ س پ,1391,0.000000,0.495722,0.473986,-0.167369
2,آ س پ,1392,0.000000,0.470746,0.470746,-0.150924
3,آ س پ,1393,0.180853,0.439567,0.498915,-0.258310
4,آ س پ,1394,0.180834,0.439016,0.294216,-0.150769
...,...,...,...,...,...,...
6523,گکیش,1400,0.000000,0.000000,0.000000,0.373598
6524,یارا,1400,0.000000,0.500000,0.000000,0.078339
6525,یاقوت,1398,0.000000,0.499982,0.000000,0.078349
6526,یاقوت,1399,0.445872,0.483333,0.434233,-0.413004
6527,یاقوت,1400,0.299240,0.290587,0.161992,-0.066574

In [21]:
dc = pd.read_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\firm_charactristic1.xlsx')
dg = pd.read_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\diversity_measures.xlsx')
pysqldf = lambda q: sqldf(q, globals())
q = '''
SELECT dc.firm,dc.group_name,dc.year,dc.Mean_marketcap,dc.total_percent_ownership,dc.Holder_Number,dc.type_Number,dg.Diversity_identity,dg.Diversity_size,dg.Diversity_horizon,dg.Diversity_Index
FROM dc,dg
WHERE dg.firm = dc.firm AND dg.year = dc.year
'''
names2 = (pysqldf(q))
names2.to_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\firm_charactristic2.xlsx',index=False)
names2

,firm,group_name,year,Mean_marketcap,total_percent_ownership,Holder_Number,type_Number,Diversity_identity,Diversity_size,Diversity_horizon,Diversity_Index
0,آ س پ,انبوه سازی، املاک و مستغلات,1390,7.287942e+05,83.69,2,1,0.000000,0.138003,0.000000,0.292104
1,آ س پ,انبوه سازی، املاک و مستغلات,1391,7.448067e+05,77.73,3,1,0.000000,0.495722,0.473986,-0.167369
2,آ س پ,انبوه سازی، املاک و مستغلات,1392,8.282403e+05,68.38,2,1,0.000000,0.470746,0.470746,-0.150924
3,آ س پ,انبوه سازی، املاک و مستغلات,1393,1.244158e+06,84.35,4,2,0.180853,0.439567,0.498915,-0.258310
4,آ س پ,انبوه سازی، املاک و مستغلات,1394,9.978230e+05,84.36,4,2,0.180834,0.439016,0.294216,-0.150769
...,...,...,...,...,...,...,...,...,...,...,...
6523,گکیش,هتل و رستوران,1400,8.491414e+06,17.82,1,1,0.000000,0.000000,0.000000,0.373598
6524,یارا,صندوق سرمایه گذاری قابل معامله,1400,1.000000e+06,10.00,2,1,0.000000,0.500000,0.000000,0.078339
6525,یاقوت,صندوق سرمایه گذاری قابل معامله,1398,5.000000e+06,14.91,2,1,0.000000,0.499982,0.000000,0.078349
6526,یاقوت,صندوق سرمایه گذاری قابل معامله,1399,2.406419e+07,97.47,8,2,0.445872,0.483333,0.434233,-0.413004
6527,یاقوت,صندوق سرمایه گذاری قابل معامله,1400,5.219675e+07,65.13,4,2,0.299240,0.290587,0.161992,-0.066574

In [22]:
df = pd.read_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\TSE_firm-holder-year.xlsx')
df['type2'] = 'Institutional'
df.loc[df.type == 'individual','type2'] = 'Individual'
dg=df.groupby(['firm','group_name','year','type2'])[['End_year_Percent']].sum().reset_index()
dg.rename(columns={"End_year_Percent": "institutional_percent_ownership"}, inplace = True)
dg.drop(dg[dg['type2'] == 'Individual'].index, inplace = True)
dg['institutional_percent_ownership']=winsorize(dg['institutional_percent_ownership'],limits=[0.00, 0.05])
from pandasql import sqldf
dc = pd.read_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\firm_charactristic2.xlsx')
pysqldf = lambda q: sqldf(q, globals())
q = '''
SELECT dc.firm,dc.group_name,dc.year,dc.Mean_marketcap,dc.total_percent_ownership,dc.Holder_Number,dc.type_Number,dc.Diversity_identity,dc.Diversity_size,dc.Diversity_horizon,dc.Diversity_Index,dg.institutional_percent_ownership
FROM dc
LEFT JOIN dg
On dg.firm = dc.firm AND dg.year = dc.year
'''
names2 = (pysqldf(q))
names2.institutional_percent_ownership=names2.institutional_percent_ownership.fillna(0)
names2.to_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\firm_charactristic3.xlsx',index=False)

In [23]:
df.drop(df[df['type'] == 'individual'].index, inplace = True)
gg = df.groupby(['firm','group_name','year'])
def cc(g):
    
    return len(g['Holder'].unique())
t = gg.apply(cc).to_frame().rename(columns = {0:"Number_of_Institutional_Blocks"})

def cc(g):

    return len(g['type'].unique())
t = t.merge(gg.apply(cc).to_frame().rename(columns = {0:"type_of_Institutional_Blocks"}),left_index= True,    right_index=True)
t = t.reset_index()

dff = pd.read_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\firm_charactristic3.xlsx')
pysqldf = lambda q: sqldf(q, globals())
q = '''
SELECT dff.firm,dff.group_name,dff.year,dff.Mean_marketcap,dff.total_percent_ownership,dff.institutional_percent_ownership,dff.Holder_Number,t.Number_of_Institutional_Blocks,dff.type_Number,t.type_of_Institutional_Blocks,dff.Diversity_identity,dff.Diversity_size,dff.Diversity_horizon,dff.Diversity_Index
FROM dff
LEFT JOIN t
On t.firm = dff.firm AND t.year = dff.year
'''
names3 = (pysqldf(q))
names3.Number_of_Institutional_Blocks=names3.Number_of_Institutional_Blocks.fillna(0)
names3.type_of_Institutional_Blocks=names3.type_of_Institutional_Blocks.fillna(0)
names3.to_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\firm_charactristic4.xlsx',index=False) 
names3

,firm,group_name,year,Mean_marketcap,total_percent_ownership,institutional_percent_ownership,Holder_Number,Number_of_Institutional_Blocks,type_Number,type_of_Institutional_Blocks,Diversity_identity,Diversity_size,Diversity_horizon,Diversity_Index
0,آ س پ,انبوه سازی، املاک و مستغلات,1390,7.287942e+05,83.69,83.69,2,2.0,1,1.0,0.000000,0.138003,0.000000,0.292104
1,آ س پ,انبوه سازی، املاک و مستغلات,1391,7.448067e+05,77.73,77.73,3,3.0,1,1.0,0.000000,0.495722,0.473986,-0.167369
2,آ س پ,انبوه سازی، املاک و مستغلات,1392,8.282403e+05,68.38,68.38,2,2.0,1,1.0,0.000000,0.470746,0.470746,-0.150924
3,آ س پ,انبوه سازی، املاک و مستغلات,1393,1.244158e+06,84.35,84.35,4,4.0,2,2.0,0.180853,0.439567,0.498915,-0.258310
4,آ س پ,انبوه سازی، املاک و مستغلات,1394,9.978230e+05,84.36,84.36,4,4.0,2,2.0,0.180834,0.439016,0.294216,-0.150769
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6523,گکیش,هتل و رستوران,1400,8.491414e+06,17.82,0.00,1,0.0,1,0.0,0.000000,0.000000,0.000000,0.373598
6524,یارا,صندوق سرمایه گذاری قابل معامله,1400,1.000000e+06,10.00,10.00,2,2.0,1,1.0,0.000000,0.500000,0.000000,0.078339
6525,یاقوت,صندوق سرمایه گذاری قابل معامله,1398,5.000000e+06,14.91,14.91,2,2.0,1,1.0,0.000000,0.499982,0.000000,0.078349
6526,یاقوت,صندوق سرمایه گذاری قابل معامله,1399,2.406419e+07,97.47,96.81,8,8.0,2,2.0,0.445872,0.483333,0.434233,-0.413004
6527,یاقوت,صندوق سرمایه گذاری قابل معامله,1400,5.219675e+07,65.13,65.13,4,4.0,2,2.0,0.299240,0.290587,0.161992,-0.066574

## Amihud_illiquidity

In [24]:
df = pd.read_csv(r'total_stock_price.csv')
df1=df[['Name','Ticker','Market','J-Date','year','Close','Adj Close', 'Volume', 'Value', 'No',]]
df1['return']=df1.groupby(['Ticker'])[['Adj Close']].pct_change()
df1.drop(df1[df1['return'] .isnull()].index, inplace = True)
df1['divide']=(abs(df1['return']) /df1['Value'])*(10**6)
dg=df1.groupby(['Name', 'Ticker','Market','year'])[['divide']].mean().reset_index()
dg.rename(columns={"divide": "Amihud_Illiquidity"}, inplace = True)
dg.replace([np.inf, -np.inf], np.nan, inplace=True)
dg.dropna(subset=["Amihud_Illiquidity"], how="all", inplace=True)
dg.to_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\Amihud_Illiquidity.xlsx',index=False)

<ipython-input-24-c43a2a835da5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['return']=df1.groupby(['Ticker'])[['Adj Close']].pct_change()
C:\Users\masou\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
<ipython-input-24-c43a2a835da5>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['divide']=(abs(df1['return']) /df1['Value'])*(10**6)

## Statements_variables

In [25]:
pysqldf = lambda q: sqldf(q, globals())
df = pd.read_excel (r'D:\User\Desktop\thesis\data\tarazname\firm_merging data with trazname\final_cashflow.xlsx')
dd = pd.read_excel (r'D:\User\Desktop\thesis\data\tarazname\firm_merging data with trazname\final_balancesheet.xlsx')
dg = pd.read_excel (r'D:\User\Desktop\thesis\data\tarazname\firm_merging data with trazname\final_incomestatement.xlsx')

dg['Sales_Growth']=dg.groupby(['firm'])[['sales']].pct_change()*100

q = '''
SELECT dg.firm ,dg.year ,dg.sales ,dg.net_income, dg.Sales_Growth ,dd.fixed_asset,dd.total_asset ,dd.total_debt ,dd.CEQ 
FROM dg,dd
WHERE dg.firm = dd.firm AND dg.year = dd.year 
'''
names = (pysqldf(q))


q = '''
SELECT names.firm ,names.year ,names.sales ,names.Sales_Growth ,names.net_income ,names.fixed_asset,names.total_asset ,names.total_debt ,names.CEQ ,df.FCF, df.capex 
FROM names,df
WHERE names.firm = df.firm AND names.year = df.year 
'''
names2 = (pysqldf(q))
names2
t3 = names2.drop_duplicates(subset=['firm','year'])


t3.drop(t3[t3['sales'] .isnull()].index, inplace = True)
t3.drop(t3[t3['capex'] .isnull()].index, inplace = True)
t3.drop(t3[t3['net_income'] .isnull()].index, inplace = True)
t3.drop(t3[t3['fixed_asset'] .isnull()].index, inplace = True)
t3.drop(t3[t3['total_asset'] .isnull()].index, inplace = True)
t3.drop(t3[t3['total_debt'] .isnull()].index, inplace = True)
t3.drop(t3[t3['CEQ'] .isnull()].index, inplace = True)
t3.drop(t3[t3['FCF'] .isnull()].index, inplace = True)
t3.drop(t3[t3['Sales_Growth'] .isnull()].index, inplace = True)

t3.rename(columns={"FCF": "F_C_F"}, inplace = True)


tt = pd.DataFrame(t3)
tt['ROA']=tt['net_income']/tt['total_asset']
tt['Firm_Size']=np.log(tt['total_asset'])
tt['Fixed_Assets']=tt['fixed_asset']/tt['total_asset']
tt['Capital_Expenditures']=tt['capex']/tt['total_asset']
tt['Leverage']=tt['total_debt']/tt['total_asset']
tt['FCF']=tt['F_C_F']/tt['total_asset']

t3['ROA']=winsorize(t3['ROA'],limits=[0.01, 0.01])
t3['Sales_Growth']=winsorize(t3['Sales_Growth'],limits=[0.01, 0.01])
t3['Firm_Size']=winsorize(t3['Firm_Size'],limits=[0.01, 0.01])
t3['Fixed_Assets']=winsorize(t3['Fixed_Assets'],limits=[0.01, 0.01])
t3['Capital_Expenditures']=winsorize(t3['Capital_Expenditures'],limits=[0.01, 0.01])
t3['Leverage']=winsorize(t3['Leverage'],limits=[0.01, 0.01])
t3['FCF']=winsorize(t3['FCF'],limits=[0.01, 0.01])


tt.to_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\statements_variables1.xlsx',index=False)

df = pd.read_excel(r'D:\User\Desktop\thesis\data\blockholders\main data\firm\Amihud_Illiquidity.xlsx')
df=df[['Ticker','year','Amihud_Illiquidity']]
df['Amihud_Illiquidity']=winsorize(df['Amihud_Illiquidity'],limits=[0.01, 0.01])

q = '''
SELECT tt.firm,tt.year,tt.sales,tt.net_income,tt.fixed_asset,tt.total_asset,tt.total_debt,tt.CEQ,tt.FCF,tt.capex,tt.ROA,tt.Sales_Growth,tt.Firm_Size,tt.Fixed_Assets,tt.Capital_Expenditures,tt.Leverage,df.Amihud_Illiquidity
FROM df,tt
WHERE tt.firm = df.Ticker AND tt.year = df.year 
'''
names7 = (pysqldf(q))

df2 = names7.drop_duplicates(subset=['firm','year'])
df2.to_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\statements_variables2.xlsx',index=False)

C:\Users\masou\anaconda3\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(
C:\Users\masou\anaconda3\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(
<ipython-input-25-26a7ac23176a>:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t3['ROA']=winsorize(t3['ROA'],limits=[0.01, 0.01])
<ipython-input-25-26a7ac23176a>:48: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t3['Sales_Growth']=winsorize(t3['Sales_Growth'],limits=[0.01, 0.01])
<ipython-input-25-26a7ac23176a>:49: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t3['Firm_Size']=winsorize(t3['Firm_Size'],limits=[0.01, 0.01])
<ipython-input-25-26a7ac23176a>:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t3['Fixed_Assets']=winsorize(t3['Fixed_Assets'],limits=[0.01, 0.01])
<ipython-input-25-26a7ac23176a>:51: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t3['Capital_Expenditures']=winsorize(t3['Capital_Expenditures'],limits=[0.01, 0.01])
<ipython-input-25-26a7ac23176a>:52: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t3['Leverage']=winsorize(t3['Leverage'],limits=[0.01, 0.01])
<ipython-input-25-26a7ac23176a>:53: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  t3['FCF']=winsorize(t3['FCF'],limits=[0.01, 0.01])

# firm_merging

In [26]:
pysqldf = lambda q: sqldf(q, globals())

df = pd.read_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\statements_variables2.xlsx')
dd = pd.read_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\firm_charactristic4.xlsx')

df.rename(columns={"firm": "Ticker"}, inplace = True)
df.rename(columns={"year": "Year"}, inplace = True)
dd.rename(columns={"Mean_marketcap": "Marketcap"}, inplace = True)


q = '''
SELECT *
FROM dd,df
WHERE dd.firm = df.Ticker AND dd.year = df.Year 
'''
names = (pysqldf(q))
names.drop(['Ticker','Year'], axis=1 , inplace = True)
names.to_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\final_merg.xlsx',index=False)

# Tobins_Q

In [27]:
df2 = pd.read_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\final_merg.xlsx')
df2['Tobins_Q']=(df2['Marketcap']+df2['total_asset']-df2['CEQ'])/df2['total_asset']
df2['Tobins_Q']=winsorize(df2['Tobins_Q'],limits=[0.01, 0.01])

# lead variables

In [28]:
df2['Tobins_Q_(t+1)'] =df2.groupby(['firm']).Tobins_Q.shift(-1)
df2['ROA_(t+1)'] =df2.groupby(['firm']).ROA.shift(-1)
df2['FCF_(t+1)'] =df2.groupby(['firm']).FCF.shift(-1)
df2['Tobins_Q_(t+2)'] =df2.groupby(['firm']).Tobins_Q.shift(-2)
df2['ROA_(t+2)'] =df2.groupby(['firm']).ROA.shift(-2)
df2['FCF_(t+2)'] =df2.groupby(['firm']).FCF.shift(-2)
df2['Tobins_Q_(t+3)'] =df2.groupby(['firm']).Tobins_Q.shift(-3)
df2['ROA_(t+3)'] =df2.groupby(['firm']).ROA.shift(-3)
df2['FCF_(t+3)'] =df2.groupby(['firm']).FCF.shift(-3)
df2.to_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\final_merg2.xlsx',index=False)

# import id

In [29]:
df = pd.read_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\final_merg2.xlsx')
dd = pd.read_excel(r'D:\User\Desktop\thesis\data\blockholders\main data\main\firm_stock_id.xlsx')
dk = pd.read_excel(r'D:\User\Desktop\thesis\data\blockholders\main data\main\group_id.xlsx')
mapingdict = dict(zip(dd.firm,dd.stock_id))
df['stock_id'] = df.firm.map(mapingdict)
mapingdict = dict(zip(dk.group_name,dk.group_id))
df['group_id'] = df.group_name.map(mapingdict)
df.to_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\final_dataa(t).xlsx',index=False)

# exclude

In [30]:
df.drop(df[df['group_name'] == 'سرمایه گذاریها'].index, inplace = True)
df.drop(df[df['group_name'] == 'سایر واسطه گریهای مالی'].index, inplace = True)
df.to_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\exclude_final_dataa(t).xlsx',index=False)

df.dropna(subset=["ROA_(t+1)"], how="all", inplace=True)
df.to_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\exclude_final_dataa(t+1).xlsx',index=False)
df.dropna(subset=["ROA_(t+2)"], how="all", inplace=True)
df.to_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\exclude_final_dataa(t+2).xlsx',index=False)
df.dropna(subset=["ROA_(t+3)"], how="all", inplace=True)
df.to_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\exclude_final_dataa(t+3).xlsx',index=False)