In [1]:
import pandas as pd
import numpy as np
from pandasql import sqldf

In [2]:
pysqldf = lambda q: sqldf(q, globals())

In [3]:
df = pd.read_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\firms_holder_number.xlsx')
dd = pd.read_excel (r'D:\User\Desktop\thesis\data\blockholders\main data\firm\firm.xlsx')

In [9]:
list(dd)

['firm', 'group_name', 'year', 'Mean_marketcap', 'total_percent_ownership']

In [10]:
q = '''
SELECT dd.total_percent_ownership
FROM dd,df
WHERE dd.firm = df.firm AND dd.group_name = df.group_name AND dd.year = df.year
'''
names = (pysqldf(q))

In [11]:
list_total_percent = list(names['total_percent_ownership'])

In [12]:
df['total_percent_ownership'] = list_total_percent

In [13]:
df

,firm,group_name,year,Holder_Number,type_Number,total_percent_ownership
0,آ س پ,انبوه سازی، املاک و مستغلات,1390,7,3,91.53
1,آ س پ,انبوه سازی، املاک و مستغلات,1391,12,5,91.80
2,آ س پ,انبوه سازی، املاک و مستغلات,1392,14,5,92.57
3,آ س پ,انبوه سازی، املاک و مستغلات,1393,7,4,91.26
4,آ س پ,انبوه سازی، املاک و مستغلات,1394,6,3,90.59
...,...,...,...,...,...,...
6669,گکیش,هتل و رستوران,1400,3,2,59.92
6670,یارا,صندوق سرمایه گذاری قابل معامله,1400,7,3,20.20
6671,یاقوت,صندوق سرمایه گذاری قابل معامله,1398,5,2,18.37
6672,یاقوت,صندوق سرمایه گذاری قابل معامله,1399,17,6,89.84
6673,یاقوت,صندوق سرمایه گذاری قابل معامله,1400,7,4,64.32